.icon-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.trend-card {
  background-color: var(--cardColor);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.view-button {
  padding-bottom: 5px;
}
